{% extends "base.html" %}

{% block content %}
    <header><h1>Create Alert</h1></header>
    <section class="create-item-form">
        <form method='POST'>

            <div class='form-group'>
                <label for="item_url">Item URL: </label>
                <input type="text" class='form-control' id="item_url" name="item_url"/>
            </div>
            <div class='form-group'>
                <label for="price_limit">Price Limit: </label>
                <input type="text" class='form-control' id="price_limit" name="price_limit" placeholder='120' aria-describedby="priceLimitHelp"/>
                <small id="priceLimitHelp" class="form-text text-muted">
                    What is the price you would like to be notified at?
                </small>
            </div>
            <button type="submit" class="btn btn-primary">Create Alert</button>
            <a class="btn btn-primary ml-3" href="{{ url_for('alerts.index') }}">
                View Alerts
            </a>
        </form>
    </section>

{% endblock %}